<section class="giftTest-Main">
  <ul class="giftTest-ParticipantList">
    <li class="giftTest-ParticipantList_Item">
      <p class="giftTest-ParticipantList_No">--</p>
      <p class="giftTest-ParticipantList_Point">0</p>
      <p class="giftTest-ParticipantList_Name">Toyota</p>
      <p class="giftTest-ParticipantList_Mypage"><a class="giftTest-ParticipantList_MypageAnchor" href="">My Page</a></p>
    </li>
    <li class="giftTest-ParticipantList_Item">
      <p class="giftTest-ParticipantList_No">--</p>
      <p class="giftTest-ParticipantList_Point">0</p>
      <p class="giftTest-ParticipantList_Name">Krosawa</p>
      <p class="giftTest-ParticipantList_Mypage"><a class="giftTest-ParticipantList_MypageAnchor" href="">My Page</a></p>
    </li>
    <li class="giftTest-ParticipantList_Item">
      <p class="giftTest-ParticipantList_No">--</p>
      <p class="giftTest-ParticipantList_Point">0</p>
      <p class="giftTest-ParticipantList_Name">Kakimi</p>
      <p class="giftTest-ParticipantList_Mypage"><a class="giftTest-ParticipantList_MypageAnchor" href="">My Page</a></p>
    </li>
    <li class="giftTest-ParticipantList_Item">
      <p class="giftTest-ParticipantList_No">--</p>
      <p class="giftTest-ParticipantList_Point">0</p>
      <p class="giftTest-ParticipantList_Name">Iizuka</p>
      <p class="giftTest-ParticipantList_Mypage"><a class="giftTest-ParticipantList_MypageAnchor" href="">My Page</a></p>
    </li>
    <li class="giftTest-ParticipantList_Item">
      <p class="giftTest-ParticipantList_No">--</p>
      <p class="giftTest-ParticipantList_Point">0</p>
      <p class="giftTest-ParticipantList_Name">Watatani</p>
      <p class="giftTest-ParticipantList_Mypage"><a class="giftTest-ParticipantList_MypageAnchor" href="">My Page</a></p>
    </li>
    <li class="giftTest-ParticipantList_Item">
      <p class="giftTest-ParticipantList_No">--</p>
      <p class="giftTest-ParticipantList_Point">0</p>
      <p class="giftTest-ParticipantList_Name">Sasaki</p>
      <p class="giftTest-ParticipantList_Mypage"><a class="giftTest-ParticipantList_MypageAnchor" href="">My Page</a></p>
    </li>
  </ul>
</section>