@import "../../base/variables/variables.scss";
@import "../../base/mixins/mixins.scss";

.lo-Wrapper {
  width: 100%;
  min-width: 300px;
  background: $color-base-white;
}
.lo-Wrapper_Contner {
  @include page-container;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  padding-top: 16px;
  padding-bottom: 64px;
}
